{% extends 'menu.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WOW_games</title>
</head>
<body>
    <header>
    {% block pagename %} <h1 align="center">Игры</h1>{% endblock %}
    </header>

    <nav>
        {% block menu %}
        {{ block.super }}
        {% endblock %}
    </nav>

    <main>
        {% block content %}
        <h1 align="center">Список игр</h1>

    <ul>
        {% for game in games_menu %}
            <li>
                <h3>{{ game.title }} | {{ game.description }}. Стоимость: {{ game.cost }}
                    <button>Купить</button> </h3>
            </li>
        {% empty %}
            <li>Нет доступных игр.</li>
        {% endfor %}
    </ul>
        {% endblock %}
    </main>

    <footer>
        {% block basement %}
        <button><a href="http://127.0.0.1:8000">Вернуться на главную страницу</a></button>
        {% endblock %}
    </footer>

</body>
</html>